
<div class="list-group">
  <span class="list-group-item list-group-item-action"><h3>Мы рады,что Вам интересно узнать побольше о нас. Наш магазин CC только начинает развиваться,
    поэтому мы никогда не откажемся от конструктивного отзыва </h3></span>
</div>

<ul class="list-group">
  <li class="list-group-item justify-content-between">
    Тех.поддержка магазина
    <a href="https://t.me/sexypinky" class="badge badge-default badge-pill">@sexypinky228</a>
  </li>
</ul>