<h1>Результаты поиска</h1>
<%Card.where("country= ? and (full_cc=? or not_full=?) and (with_vbv=? or without_vbv=?) and buyer_id=?",@card.country, @card.full_cc,
           @card.not_full, @card.with_vbv, @card.without_vbv, 0 ).find_each do |card|%>
  <%if card.price <= @price %>
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">Страна</th>
        <th scope="col">Цена $</th>
        <th scope="col">FULL CC</th>
        <th scope="col">WITH VBV</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row"><%=card.country%></th>
        <td><%=card.price%></td>
        <% if card.full_cc==true%>
          <td>+</td>
        <%else%>
          <td>-</td>
        <%end%>
        <% if card.with_vbv==true%>
          <td>+</td>
        <%else%>
          <td>-</td>
        <%end%>
        <td> <%= link_to 'Купить CC',cards_buy_path(card),  class: 'btn btn-primary' %></td>
      </tr>
      </tbody>
    </table>
      <br>
    <%end%>
<%end%>